body {
	background: #ffffff url("https://i.pinimg.com/originals/25/d1/44/25d14493887e6f81efbc01660a9682a4.jpg") no-repeat; 
	margin-left: 100px;
}
h1 {
	background-color: white;
}
h2 {
	background-color: white;
}
